# ChatterboxTTS Dependencies for ComfyUI
# Install with: pip install -r requirements.txt

resemble-perth
librosa
omegaconf
accelerate
librosa
numpy<=2.3.1
einops
scipy
tokenizers
soundfile
s3tokenizer
conformer
safetensors
transformers
diffusers
